SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyZnpocWd6bW1ncWVwc2tybWVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDAyNDAsImV4cCI6MjA5NDY3NjI0MH0.wsVsktRWVBD2VWOC4NEKEP3zPy2Hb6Wj56sCfnjn38s"
SUPABASE_URL="https://lrfzhqgzmmgqepskrmea.supabase.co"
VITE_SUPABASE_PROJECT_ID="lrfzhqgzmmgqepskrmea"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyZnpocWd6bW1ncWVwc2tybWVhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDAyNDAsImV4cCI6MjA5NDY3NjI0MH0.wsVsktRWVBD2VWOC4NEKEP3zPy2Hb6Wj56sCfnjn38s"
VITE_SUPABASE_URL="https://lrfzhqgzmmgqepskrmea.supabase.co"
